@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
}

body {
    background-color: #d8e3e7;
}

.container, body {
    margin: 0;
}

.wrapper {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

.a {
    text-decoration: none;
    color: #687980;
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.box {
    /* border: 1px solid #687980; */
    padding: 0.3em 0.5em;
    border-radius: 20px;
    margin: 5px 5px;
    /* display: block; */
}

.a:hover {
    background-color: #687980;
    color: #ffffff;
}

.h2 {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: #325288;

}

.h1 {
    text-align: center;
    color: #5b6d5b;
    font-family: 'Press Start 2P', cursive;
}

.inOut {
    height: 50px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}

.editor {
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
    max-height: 10000px;
}

.input-text-area {
    resize: none;
    height: 45rem;
    width: 712px;
    outline: none;
    padding: 1em;
    border-radius: 0.3rem;
    letter-spacing: em;
    font-size: 1.5em;
    background-color: #fff;
    
}

.input-text-area:focus {
    box-shadow: inset 0 0 10px #000000;

}

.output-text-area {
    background-color: #fff;
    height: 46.5rem;
    width: 712px;
    border-radius: 0.3rem;
    padding: 0.5rem;
    overflow: scroll;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.footer {
    margin-top: 1em;
    background-color: #132c33;
    min-height: 15em;
    /* height: 200px; */
    width: 100%;
    display: flex;
    justify-content: space-between;

}



.bottom {
    background-color: #435560;
    /* text-align: center; */
    line-height: 0.01em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #e1e5ea;

}


.p {
    margin: 0;
    padding: 1em;
    color: #ffffff;
    min-width: 10px;

}